@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.main
{
    background-color: #ccc;
    width:400px;
    margin: 110px auto;
    height: 175px;  
    position: relative;
    padding:30px;
    
}
body
{
    background: url(img.png);
}
.badge
{
    background-color: #e66357;
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
    width: 96px;
    position: absolute;
    top:-15px;
    left: 35%     ;
    
    
}
.clock
{
    background-color: #EBEBEB;
    text-align:  center;
    font-size:65px;
    height:100%;
    padding-top: 20px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 4px;
}   